p, div, span, td, th, li {
    line-height: 1.3em;
}

body {
    font-family: museo-sans, sans-serif;
    margin: 0 auto;
    background-color: #aaa;
    color: #555;
}

p {
    line-height: 1.4em;
}

h1 {
    font-size: 32px;
    color: #000;
}

h2 {
    font-size: 22px;
}

h3 {
    font-size: 16px;
}

h1, h2, h3 {
    font-family: rooney-web, sans-serif;
}

a[href] {
    color: #09f;
}

a:visited {
    color: #0F3D74;
}

/* Common bits and bobs
----------------------------------------*/

p img.icon[height="16"] {
    vertical-align: -2px;
    margin-right: 3px;
}

/* Header
----------------------------------------*/

#header {
    position: relative;
    height: 180px;
}

#logo {
    position: absolute;
    left: 40px;
    top: 40px;
}

#slogan {
    position: absolute;
    font-size: 17px;
    left: 130px;
    top: 140px;
    color: #09f;
}

/* Tabs
----------------------------------------*/

ul.tabs li {
    list-style-type: none;
}

/* Content
----------------------------------------*/

#content {
    padding: 0 30px 20px 30px;
}

img.framed {
    border: 1px solid #ccc;
    padding: 3px;
    margin: 8px;
}


/* Footer
----------------------------------------*/

#footer {
    padding: 20px 30px;
    clear: left;
    color: #888;
    background-color: #f0f0f0;
    border-top: 1px solid #ddd;
    font-size: 11px;
    text-shadow: #fff 0 1px 1px;
}

