p, div, span, td, th, li {
    line-height: 1.3em;
}

body {
    font-family: Helvetica, Arial, sans-serif;
    margin: 0 auto;
    background-color: #aaa;
}

p {
    line-height: 1.4em;
}

h1 {
    font-size: 22px;
    font-weight: normal;
}

h2 {
    font-size: 17px;
}

h3 {
    font-size: 13px;
}

h1, h2, h3 {
    font-family: "Century Gothic", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

h1 {
}

a[href] {
    color: #667200;
}

a:visited {
    color: #3C4200;
}

#main {
    padding: 0;
    margin: 20px 0 30px 0;
    background-color: white;
    position: relative;
    -moz-box-shadow:    0 4px 8px #333;
    -webkit-box-shadow: 0 4px 8px #333;
    box-shadow:         0 4px 8px #333;
}

/* Common bits and bobs
----------------------------------------*/

p img.icon[height="16"] {
    vertical-align: -2px;
    margin-right: 3px;
}

/* Header
----------------------------------------*/

#header {
    position: relative;
    height: 180px;
}

#logo {
    position: absolute;
    left: 40px;
    top: 40px;
}

#slogan {
    position: absolute;
    font-size: 17px;
    left: 130px;
    top: 140px;
    font-family: "Century Gothic", "Helevica Neue", Arial, Helvetica, sans-serif;
    color: #09f;
}

/* Tabs
----------------------------------------*/

ul.tabs li {
    list-style-type: none;
}

/* Content
----------------------------------------*/

#content {
    color: #333;
    padding: 0 30px 20px 30px;
}

img.framed {
    border: 1px solid #ccc;
    padding: 3px;
    margin: 8px;
}


/* Footer
----------------------------------------*/

#footer {
    padding: 20px 30px;
    clear: left;
    color: #888;
    background-color: #f0f0f0;
    border-top: 1px solid #ddd;
    font-size: 11px;
    text-shadow: #fff 0 1px 1px;
}

/* Code
----------------------------------------*/

pre, code {
    font-family: 'Bitstream Vera Sans Mono', Courier, monospace;
    font-size: 12px;
}

pre {
    padding: 3px;
    background-color: #e0e8f0;
    border: 1px solid #ccc;
}
