@import url('base.css');

body {
    max-width: 1200px;
}

#header {
    border-bottom: 1px solid #ddd;
}

#content {
    margin-right: 220px;
}

/* Monochrome nav */

#nav {
    top: 20px;
}

#nav .tabs li a {
    background-color: #aaa;
    color: white;
}

#nav .tabs li a:hover {
    background-color: #555;
    color: white;
}

#nav .tabs li a.selected {
    background-color: #08d;
}

/* Blog article navigation */
.blog-nav {
    margin: 12px 0;
    font-size: 13px;
}

.blog-nav .nav {
    padding: 0;
    margin: 0;
}

.blog-nav .nav+.nav {
    border-left: 1px dotted #aaa;
    padding-left: 10px;
    margin-left: 10px;
}

/* Misc blog formatting */

h1 {
    font-size: 33px;
    line-height: 1.1em;
}

.meta {
    color: #666;
    font-style: italic;
}

blockquote {
    border-left: 2px solid #08d;
    padding-left: 20px;
    margin-left: 20px;
    color: #08d;
}

a[href] {
    color: #08d;
}

a[href]:visited {
    color: #333;
}

/* Comments */
.comments {
    margin-top: 30px;
    padding-top: 15px;
    border-top: 1px dashed #777;
}

/* Latest posts */

#sidebar {
    float: right;
    width: 200px;
    padding: 20px 10px;
    margin: 0;
    font-size: 13px;
    text-align: right;
    border-left: 1px solid #ddd;
}

#sidebar a {
    color: #333;
}

#sidebar a:hover {
    color: #09f;
}

#sidebar .subscribe a {
    background-image: url("/images/feed-icon-14x14.png");
    background-position: right 0;
    background-repeat: no-repeat;
    padding-right: 17px;
}

#sidebar h2 {
    color: #999;
    font-size: 20px;
    text-transform: uppercase;
    padding: 0;
}

#sidebar ul {
    margin: 0;
    padding: 0;
}

#sidebar li {
    display: block;
    padding: 0;
}

#sidebar li a {
    display: block;
    padding: 5px 0;
}

#sidebar li a.selected {
    font-weight: bold;
}

/* Gist formatting */
 .gist {
     font-size: 13px;
}

#footer {
    clear: both;
}

@media screen and (max-device-width: 480px) {
    body {
        width: 480px;
        margin: 0;
        padding: 0;
        background-color: #fff;
        background-image: none;
    }
    
    code {
        display: block;
        max-width: 480px;
        overflow: hidden;
    }
    
    img {
        max-width: 400px;
        margin: 6px 0;
        padding: 0;
    }
    
    img.framed {
        border-width: 0;
        padding: 0;
        margin: 6px 0;
        
    }

    #sidebar { display: none; }
    
    p, div, span, li {
        font-size: 20px;
    }
    
    h1 {
        font-size: 28px;
        font-weight: normal;
    }

    h2 {
        font-size: 24px;
    }

    h3 {
        font-size: 20px;
    }
    
    #header {
        height: 160px;
        border-width: 0;
    }

    #main {
        margin: 0;
        padding: 0;
        background-image: none;
        -moz-box-shadow:    none;
        -webkit-box-shadow: none;
        box-shadow:         none;
    }

    #logo {
        left: 10px;
        top: 10px;
    }

    #content {
        clear: both;
        padding: 0 20px;
        margin: 60px 0 0 0;
        width: 440px;
    }
}