@import url('base.css');

body {
    background-color: #eee;
    max-width: 1200px;
}

#header {
    border-bottom: 1px solid #444;
}

#content {
/*    background-color: #000;*/
    margin-right: 220px;
    color: #333;
}

#slogan {
    color: #666;
}

/* Code
----------------------------------------*/

pre, code {
    font-family: 'Bitstream Vera Sans Mono', Courier, monospace;
    font-size: 14px;
/*    color: #eee;*/
}

pre, blockquote {
    margin: 0;
    padding: 12px;
    background-color: #ddd;
    border-radius: 5px;
}

/* Blog article navigation */
.blog-nav {
    margin: 12px 0;
    font-size: 13px;
}

.blog-nav .nav {
    padding: 0;
    margin: 0;
}

/* Misc blog formatting */

h1 {
    color: #09f;
    font-size: 33px;
    line-height: 1.1em;
}

h2 {
    color: #333;
    font-size: 28px;
    font-weight: normal;
}

h3 {
    color: #333;
    font-size: 20px;
    font-weight: normal;
}

.meta {
/*    color: #666;*/
    font-style: italic;
}

.twitter {
	font-style: italic;
	color: #666;
}

blockquote {
    padding: 20px 20px 20px 70px;
    background-image: url(../images/open-quote.png);
    background-repeat: no-repeat;
}

a[href] {
    color: #08d;
}

/* Comments */
.comments {
    margin-top: 30px;
    padding-top: 15px;
    border-top: 1px dashed #777;
}

/* Latest posts */

#sidebar {
    float: right;
    width: 200px;
    padding: 20px 10px;
    margin: 0;
    font-size: 13px;
}

#sidebar a {
    color: #666;
}

#sidebar a:hover {
    color: #09f;
}

#sidebar .subscribe a {
    background-image: url("/images/feed-icon-14x14.png");
    background-position: right 0;
    background-repeat: no-repeat;
    padding-right: 17px;
}

#sidebar h2 {
    color: #444;
    font-size: 20px;
    text-transform: uppercase;
    padding: 0;
}

#sidebar ul {
    margin: 0;
    padding: 0;
}

#sidebar li {
    display: block;
    padding: 0;
}

#sidebar li a {
    display: block;
    padding: 5px 0;
}

#sidebar li a.selected {
    font-weight: bold;
}

img.framed {
    border-color: #666;
}

#footer {
    clear: both;
}

@media screen and (max-device-width: 480px) {
    body {
        width: 480px;
        margin: 0;
        padding: 0;
        background-image: none;
    }
    
    code {
        display: block;
        max-width: 480px;
        overflow: hidden;
    }
    
    img {
        max-width: 400px;
        margin: 6px 0;
        padding: 0;
    }
    
    img.framed {
        border-width: 0;
        padding: 0;
        margin: 6px 0;
        
    }

    #sidebar { display: none; }
    
    p, div, span, li {
        font-size: 20px;
    }
    
    h1 {
        font-size: 28px;
        font-weight: normal;
    }

    h2 {
        font-size: 24px;
    }

    h3 {
        font-size: 20px;
    }
    
    #header {
        height: 160px;
        border-width: 0;
    }

    #main {
        margin: 0;
        padding: 0;
        background-image: none;
        -moz-box-shadow:    none;
        -webkit-box-shadow: none;
        box-shadow:         none;
    }

    #logo {
        left: 10px;
        top: 10px;
    }

    #content {
        clear: both;
        padding: 0 20px;
        margin: 60px 0 0 0;
        width: 440px;
    }
}