p, div, span, td, th, li {
    line-height: 1.3em;
}

body {
    font-family: Helvetica, Arial, sans-serif;
    width: 840px;
    margin: 0 auto;
    background-color: #ccc;
}

p, div, li {
/*    font-size: 15px;*/
}

p {
    line-height: 1.4em;
}

h1 {
    font-size: 22px;
    font-weight: normal;
}

h2 {
    font-size: 17px;
}

h3 {
    font-size: 13px;
}

h1, h2, h3 {
    font-family: "Century Gothic", "Helevica Neue", Arial, Helvetica, sans-serif;
}

h1 {
}

a[href] {
    color: #667200;
}

a:visited {
    color: #3C4200;
}

#main {
    padding: 20px 0;
    background-color: white;
    position: relative;
}

#footer {
    padding: 20px;
}

/* Common bits and bobs
----------------------------------------*/

p img.icon[height="16"] {
    vertical-align: -2px;
    margin-right: 3px;
}

/* Header
----------------------------------------*/

#header {
    position: relative;
    height: 150px;
}

#logo {
    position: absolute;
    left: 40px;
    top: 10px;
}

#slogan {
    position: absolute;
    font-size: 17px;
    left: 130px;
    top: 110px;
    font-family: "Century Gothic", "Helevica Neue", Arial, Helvetica, sans-serif;
    color: #09f;
}

/* Tabs
----------------------------------------*/

ul.tabs li {
    list-style-type: none;
}

/* navigation tabs */

#nav {
    position: absolute;
    right: 0px;
    top: 30px;
}

#nav .tabs {
    margin: 0;
    text-align: right;
}

#nav .tabs li {
    margin-bottom: 12px;
}

#nav .tabs li a {
    text-decoration: none;
    background-color: #A0B400;
    color: white;
    padding: 5px 10px;
}

#nav .tabs li a:hover {
    text-decoration: none;
    background-color: #3C4200;
    color: white;
    padding: 5px 10px;
}

#nav .tabs li a.selected {
    background-color: #08d;
}

/* Content
----------------------------------------*/

#content {
    color: #333;
    padding: 0 30px;
}


/* App showcase
----------------------------------------*/

#showcase {
    margin: 30px;
    background-color: black;
    background-image: url('../images/app-bg.png');
    background-repeat: no-repeat;
    color: #ddd;
    position: relative;
    border-radius: 20px;
    -moz-border-radius: 20px;
}

#apps {
    position: relative;
}

#showcase .detail {
    color: #aaa;
}

#showcase a {
    color: #09f;
}

.app-end {
    clear: left;
}

#showcase .app {
    padding: 30px 100px;
}

#showcase .app h2 {
    margin-top: 0;
    font-size: 22px;
    font-weight: bold;
}

#showcase .app h2 a {
    text-decoration: none;
    color: #eee;
}

#showcase .app h2 a:hover {
    background-color: #09f;
    color: white;
}

#showcase .app h2 .appslogan {
    color: #09f;
    font-weight: normal;
    margin-left: 6px;
}

#showcase .app .screenshot {
    float: left;
    max-width: 240px;
}

#showcase .app .description {
    margin-left: 265px;
    padding: 0px;
}

#showcase .app .quotation {
    font-style: italic;
}

#showcase .app .quotation .source {
    font-style: normal;
    font-weight: normal;
    color: #666;
    margin-left: 5px;
}

#showcase .app .appstore-badge {
    padding-top: 15px;
}

/* Footer
----------------------------------------*/

#footer {
    clear: left;
    text-align: center;
    color: #eee;
    background-color: #555;
    font-size: 12px;
}

/* Contact page
----------------------------------------*/

#contact-details {
    margin: 24px 0 12px 40px;
}

#contact-details td {
    min-width: 30px;
    padding: 0 0 10px 0;
    vertical-align: top;
}

#map {
    border: 1px solid #ccc;
    padding: 4px;
    float: right;
}

#end-map {
    clear: right;
}

/* Support page
----------------------------------------*/

.support-steps img {
    margin: 10px 0 30px 10px;
    border: 1px solid #ccc;
    padding: 3px;
}

.support-steps li+li {
    margin-top: 6px;
}

div.support-item {
    border-top: 1px solid #A0B400;
    padding-top: 10px;
    margin-top: 40px;
}

/* About page
----------------------------------------*/

.portrait {
    float: left;
    width: 162px;
}

.biog {
    margin-left: 180px;
}

@media screen and (max-device-width: 480px) {
    body {
        width: 480px;
        margin: 0;
        padding: 0;
        background-color: #fff;
        background-image: none;
    }
    
    p, div, span, li {
        font-size: 20px;
    }
    
    h1 {
        font-size: 28px;
        font-weight: normal;
    }

    h2 {
        font-size: 24px;
    }

    h3 {
        font-size: 20px;
    }
    
    #header {
        height: 160px;
    }

    #main {
        margin: 0;
        padding: 0;
        background-image: none;
    }

    #logo {
        left: 10px;
    }

    #slogan {
        left: 120px;
        width: 300px;
    }
    #nav {
        position: relative;
        top: 0;
        left: 0;
        padding: 0;
        margin: 10px 0;
    }
    
    #nav .tabs {
        text-align: left;
        padding: 0;
        margin: 0 20px;
    }
    
    #nav .tabs li {
        float: left;
        font-size: 20px;
    }

    #nav .tabs li+li {
        margin-left: 15px;
    }

    #content {
        clear: both;
        padding: 0 20px;
        margin: 60px 0 0 0;
        width: 440px;
    }
    
    #showcase {
        border-radius: 0;
        -moz-border-radius: 0;
        padding: 0 20px;
        margin: 20px -20px 0px -20px;
    }
    
    #showcase .app h2 a {
    }

    #showcase .app {
        margin: 0;
        padding: 30px 0px;
        border-top: 1px solid #666;
    }

    #showcase .app img.screenshot {
        width: 120px;
    }

    #showcase .app .description {
        margin-left: 140px;
        padding: 0px;
    }
    
    #footer {
        margin: 0;
        padding: 20px 10px;
        text-align: center;
        color: #fff;
        font-size: 10px;
    }

    #footer a {
        color: white;
    }   
    
    .portrait {
        float: left;
        width: 60px;
    }

    .biog {
        margin-left: 80px;
    }
    
}