@import url('base.css');

body {
    max-width: 980px;
}

#main {
    padding: 0;
    margin: 0 0 30px 0;
    background-color: white;
    position: relative;
    -moz-box-shadow:    0 4px 8px #333;
    -webkit-box-shadow: 0 4px 8px #333;
    box-shadow:         0 4px 8px #333;
}


/* Header
----------------------------------------*/

#header {
    position: relative;
    height: 180px;
}

#logo {
    position: absolute;
    left: 40px;
    top: 40px;
}

#slogan {
    position: absolute;
    font-size: 24px;
    left: 130px;
    top: 140px;
    color: #09f;
}

/* Navigation tabs 
----------------------------------------*/

#nav {
    position: absolute;
    right: 0px;
    top: 40px;
}

#nav .tabs {
    margin: 0;
    text-align: right;
}

#nav .tabs li {
    margin-bottom: 16px;
}

#nav .tabs li a {
    text-decoration: none;
    background-color: #A0B400;
    color: white;
    padding: 5px 15px 5px 20px;
    -webkit-border-top-left-radius: 20px;
    -webkit-border-bottom-left-radius: 20px;
    -moz-border-radius-topleft: 20px;
    -moz-border-radius-bottomleft: 20px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

#nav .tabs li a:hover {
    background-color: #3C4200;
}

#nav .tabs li a.selected {
    background-color: #08d;
}

/* App showcase
----------------------------------------*/

#showcase {
    margin: 0;
    background-repeat: no-repeat;
    position: relative;
    width: 100%;
}

#apps {
    position: relative;
    margin: 0 auto;
    width: 800px;
    height: 500px;
}

#showcase .detail {
    font-size: 13px;
}

.app-end {
    clear: left;
}

#showcase .page-control {
    position: absolute;
    top: 0;
    z-index: 1000;
    display: none;
}

#showcase #prev {
    left: 10px;
}

#showcase #next {
    right: 10px;
}

#showcase .app {
    padding: 30px;
}

#showcase .app h2, #showcase .app h3 {
    font-size: 24px;
    font-weight: normal;
    margin: 0 0 12px 0;
}

#showcase .app h2 a {
    text-decoration: none;
    color: #222;
}

#showcase .app h2 a:hover {
    text-decoration: underline;
}

#showcase .app h3.appslogan {
    color: #09f;
}

#showcase .app .screenshot {
    float: left;
    max-width: 200px;
}

#showcase .app.ipad .screenshot {
    float: left;
    max-width: 320px;
}


#showcase .app .description {
    margin-left: 220px;
    padding: 0 15px;
}

#showcase .app.ipad .description {
    margin-left: 340px;
    padding: 0 15px;
}

#showcase .app .quotation {
    font-style: italic;
}

#showcase .app .quotation .source {
    font-style: normal;
    font-weight: normal;
    margin-left: 5px;
}

#showcase .app .install-links {
    margin: 0 0 10px 0;
}

#showcase .app .appstore-badge {
    padding: 0;
}

#showcase .app div.android-info {
    float: right;
    width: 220px;
    font-size: 12px;
    color: #666;
}

#showcase .app div.android-info a {
    color: #666;
}
/* Contact page
----------------------------------------*/

#contact-details {
    margin: 24px 0 12px 40px;
}

#contact-details td {
    min-width: 30px;
    padding: 0 0 10px 0;
    vertical-align: top;
}

#map {
    border: 1px solid #ccc;
    padding: 4px;
    float: right;
}

#end-map {
    clear: right;
}

/* Support page
----------------------------------------*/

.support-steps img {
    margin: 10px 0 30px 10px;
    border: 1px solid #ccc;
    padding: 3px;
}

.support-steps li+li {
    margin-top: 6px;
}

div.support-item {
    border-top: 1px solid #A0B400;
    padding-top: 10px;
    margin-top: 40px;
}

/* About page
----------------------------------------*/

.portrait {
    float: left;
    width: 162px;
}

.biog {
    margin-left: 180px;
}

/* Blog index 
----------------------------------------*/

ul.blog-items {
    padding-left: 0;
}

.blog-items li {
    list-style-type: none;
    line-height: 1.7em;
}

.blog-items li .date {
    color: #999;
    font-size: 12px;
}
@media screen and (max-device-width: 480px) {
    #main {
        padding: 0;
        margin: 0;
        background-color: white;
        position: relative;
        -moz-box-shadow:    0 0 0 #333;
        -webkit-box-shadow: 0 0 0 #333;
        box-shadow:         0 0 0 #333;
    }
}
