<div id="content">
    <h1>
        Contact Goo
    </h1>
    <p>
        Goo Software is not currently accepting new client work.
    </p>
    <p>
        If you need to contact us, please send an email to <a href="mailto:info@goosoftware.co.uk">info@goosoftware.co.uk</a>.
    </p>

</div>