#!/usr/bin/env ruby

# A few helpful tips about the Rules file:
#
# * The order of rules is important: for each item, only the first matching
#   rule is applied.
#
# * Item identifiers start and end with a slash (e.g. “/about/” for the file
#   “content/about.html”). To select all children, grandchildren, … of an
#   item, use the pattern “/about/*/”; “/about/*” will also select the parent,
#   because “*” matches zero or more characters.

compile '*' do
    if item[:extension] == 'html' then
        filter :erb
        layout 'goo'
    elsif item[:extension] == 'markdown' then
        filter :kramdown
        layout 'goo'
    end
end

route %r{^/(css|js|images)/.*/} do
    item.identifier.chop + '.' + item[:extension]
end

route '/error/*/' do
    item.identifier.chop + '.html'
end

route '/htaccess/' do 
    '/.htaccess'
end

route '*' do
  item.identifier + 'index.html'
end

layout '*', :erb
