#!/usr/bin/env ruby

# A few helpful tips about the Rules file:
#
# * The order of rules is important: for each item, only the first matching
#   rule is applied.
#
# * Item identifiers start and end with a slash (e.g. “/about/” for the file
#   “content/about.html”). To select all children, grandchildren, … of an
#   item, use the pattern “/about/*/”; “/about/*” will also select the parent,
#   because “*” matches zero or more characters.

compile '/blog/feed/' do 
    filter :erb
end

compile '*' do 
    do_layout = false
    
    if item[:extension] =~ /(md|markdown)/
        filter :kramdown
        do_layout = true
    elsif item[:extension] =~ /r?html/
        filter :erb
        do_layout = true
    end
        
    if do_layout then
        if item[:kind] == 'article' or item[:kind] == 'draft'
            layout 'blog'
        else
            layout 'goo'
        end
    end
end

route '/blog/feed/' do
    '/blog.xml'
end

route %r{^/(css|js|images)/.*/} do
    item.identifier.chop + '.' + item[:extension]
end

route '/error/*/' do
    item.identifier.chop + '.html'
end

route '/htaccess/' do 
    '/.htaccess'
end

route '/blog/*/' do
    '/blog/' + item[:title].to_slug + '/index.html'
end

route '*' do
    item.identifier + 'index.html'
end

layout '*', :erb
