<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
    <head>
        <script type="text/javascript" src="http://use.typekit.com/osv2fuk.js"></script>
        <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
        <meta name="viewport" content="width=device-width">
        <meta name = "format-detection" content = "telephone=no">
        
        <meta http-equiv="Content-type" content="text/html; charset=utf-8">
        <% if @item[:description] %>
        <meta name="description" content="<%= @item[:description] %>">
        <% end %>
        <title>
            Goo Software Blog - <%= @item[:title] %>
        </title>
        <link rel="alternate" type="application/atom+xml" title="Goo Software Blog" href="/blog.xml" />
        <link rel="stylesheet" href="/css/blog.css" type="text/css" media="screen" charset="utf-8">
        <script type="text/javascript" charset="utf-8" src="/js/google-analytics.js"></script>
        <script type="text/javascript" charset="utf-8" src="/js/jquery-1.4.2.min.js"></script>
        <% if @item[:js_imports] %>
        <% for js in @item[:js_imports] %>
        <script type="text/javascript" charset="utf-8" src="js/<%= js %>"></script>
        <% end %>
        <% end %>
    </head>
    <body>
        <div id="main" class="blog">
            <div id="header">
                <a href="/"><img src="/images/goo-logo-333.png" id="logo" width="200" height="118" alt="Goo Logo" border="0" name="logo"></a>
                <div id="slogan">
                    Thoughts on developing fantastic apps for iPhone, iPad and iPod Touch
                </div>
            </div>
            
            <!-- Sidebar -->
            <% if @item[:created_at] %>
            <div id="sidebar">
                <div class="subscribe">
                    <a href="/blog.xml">Subscribe</a>
                </div>
                <div>
                    <h2>Goo Software</h2>
                    <ul>
                        <li><a href="/">Goo home</a></li>
                        <li><a href="/blog/">Blog index</a></li>
                    </ul>
                </div>
                <div id="latest-posts">
                    <h2>Latest posts</h2>
                    <ul>
                        <% for a in sorted_articles[0,5] %>
                        <li><a href="<%= a.path %>" <%if @item.identifier == a.identifier%>class="selected"<%end%>><%= a[:title] %></a></li>
                        <% end %>
                    </ul>
                </div>
            </div>
            <% end %>
            
            <!-- Main bit -->
            <div id="content">
                <h1><%= @item[:title] %></h1>
                <% if @item[:created_at] %>
                <div class="meta">
                    Posted <%= @item[:created_at] %> by <%= @item[:author_name] or @config[:author_name] %>
                </div>
                <% end %>
                <div class="blog-content">
                    <%= yield %>
                </div>
                
                <!-- Previous / next nav -->
                <% if @item[:created_at] %>
                <div class="blog-nav">
                    <% index = sorted_articles.index(@item).to_i %>
                    
                    <% if @item != sorted_articles.last then %>
                    <span class="nav previous">
                        &larr; <a href="<%= sorted_articles[index + 1].path %>"><%= sorted_articles[index + 1][:title]%></a>
                    </span>
                    <% end %>

                    <% if @item != sorted_articles.first then %>
                    <span class="nav next">
                        <a href="<%= sorted_articles[index-1].path %>"><%= sorted_articles[index-1][:title]%></a> &rarr;
                    </span>
                    <% end %>
                </div>
                <% end %>
                
                <% if @item[:created_at] %>
                <div class="comments">
                    <h2>Comments</h2>
                    <div id="disqus_thread"></div>
                    <script type="text/javascript">
                      /**
                        * var disqus_identifier; [Optional but recommended: Define a unique identifier (e.g. post id or slug) for this thread] 
                        */
                      (function() {
                       var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
                       dsq.src = 'http://goosoftware.disqus.com/embed.js';
                       (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
                      })();
                    </script>
                    <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript=goosoftware">comments powered by Disqus.</a></noscript>
                    <a href="http://disqus.com" class="dsq-brlink">blog comments powered by <span class="logo-disqus">Disqus</span></a>
                </div>
                <% end %>
            </div><!-- #content -->
            <div style="clear:both"> </div>
        </div><!-- #main -->
    </body>
</html>
