<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
    <head>
        <meta name="viewport" content="width=device-width">
        <meta http-equiv="Content-type" content="text/html; charset=utf-8">
        <% if @item[:description] %>
        <meta name="description" content="<%= @item[:description] %>">
        <% end %>
        <title>
            Goo Software - <%= @item[:title] %>
        </title>
        <link rel="stylesheet" href="/css/goo.css" type="text/css" media="screen" charset="utf-8">
        <script type="text/javascript" charset="utf-8" src="/js/google-analytics.js"></script>
        <script type="text/javascript" charset="utf-8" src="/js/jquery-1.4.2.min.js"></script>
        <% if @item[:js_imports] %>
        <% for js in @item[:js_imports] %>
        <script type="text/javascript" charset="utf-8" src="js/<%= js %>"></script>
        <% end %>
        <% end %>
    </head>
    <body>
        <div id="main">
            <div id="header">
                <a href="/"><img src="/images/goo-logo.png" id="logo" width="200" height="118" alt="Goo Logo" border="0" name="logo"></a>
                <div id="slogan">
                    Fantastic apps for iPhone, iPad and iPod Touch
                </div>
            </div>
            <div id="nav">
                <ul class="tabs">
                    <% for nl in navlinks %>
                    <li>
                        <a <% if @item.identifier == nl[:url] %>class="selected"<% end %> href="<%= nl[:url] %>"><%= nl[:text] %></a>
                    </li>
                    <% end %>
                </ul>
            </div>
            <div id="content">
                <%= yield %>
            </div><!-- #content -->
        </div><!-- #main -->
        <div id="footer">
            Goo Software Ltd, registered in England and Wales with company number 7242280.
            Registered address: 88 Lucerne Avenue, Bicester OX26 3EL, UK
        </div>
    </body>
</html>
